@font-face {
	src: url(nk57-monospace-ex-lt.ttf);
	font-family: nk57_monospace_ex;
	font-weight: 100;
	font-style: italic;
}
@font-face {
	src: url(nk57-monospace-ex-bk.ttf);
	font-family: nk57_monospace_ex;
	font-weight: 300;
	font-style: italic;
}
@font-face {
	src: url(nk57-monospace-ex-rg.ttf);
	font-family: nk57_monospace_ex;
	font-weight: 400;
	font-style: italic;
}
@font-face {
	src: url(nk57-monospace-ex-sb.ttf);
	font-family: nk57_monospace_ex;
	font-weight: 600;
	font-style: normal;
}
@font-face {
	src: url(nk57-monospace-ex-bd.ttf);
	font-family: nk57_monospace_ex;
	font-weight: 700;
	font-style: italic;
}
@font-face {
	src: url(nk57-monospace-ex-eb.ttf);
	font-family: nk57_monospace_ex;
	font-weight: 900;
	font-style: italic;
}

@font-face {
	src: url(nk57-monospace-ex-lt-it.ttf);
	font-family: nk57_monospace_ex;
	font-weight: 100;
	font-style: italic;
}
@font-face {
	src: url(nk57-monospace-ex-bk-it.ttf);
	font-family: nk57_monospace_ex;
	font-weight: 300;
	font-style: italic;
}
@font-face {
	src: url(nk57-monospace-ex-rg-it.ttf);
	font-family: nk57_monospace_ex;
	font-weight: 400;
	font-style: italic;
}
@font-face {
	src: url(nk57-monospace-ex-sb-it.ttf);
	font-family: nk57_monospace_ex;
	font-weight: 600;
	font-style: italic;
}
@font-face {
	src: url(nk57-monospace-ex-bd-it.ttf);
	font-family: nk57_monospace_ex;
	font-weight: 700;
	font-style: italic;
}
@font-face {
	src: url(nk57-monospace-ex-eb-it.ttf);
	font-family: nk57_monospace_ex;
	font-weight: 900;
	font-style: italic;
}
