@font-face {
	src: url(nk57-monospace-se-lt.ttf);
	font-family: nk57_monospace_se;
	font-weight: 100;
	font-style: italic;
}
@font-face {
	src: url(nk57-monospace-se-bk.ttf);
	font-family: nk57_monospace_se;
	font-weight: 300;
	font-style: italic;
}
@font-face {
	src: url(nk57-monospace-se-rg.ttf);
	font-family: nk57_monospace_se;
	font-weight: 400;
	font-style: italic;
}
@font-face {
	src: url(nk57-monospace-se-sb.ttf);
	font-family: nk57_monospace_se;
	font-weight: 600;
	font-style: normal;
}
@font-face {
	src: url(nk57-monospace-se-bd.ttf);
	font-family: nk57_monospace_se;
	font-weight: 700;
	font-style: italic;
}
@font-face {
	src: url(nk57-monospace-se-eb.ttf);
	font-family: nk57_monospace_se;
	font-weight: 900;
	font-style: italic;
}

@font-face {
	src: url(nk57-monospace-se-lt-it.ttf);
	font-family: nk57_monospace_se;
	font-weight: 100;
	font-style: italic;
}
@font-face {
	src: url(nk57-monospace-se-bk-it.ttf);
	font-family: nk57_monospace_se;
	font-weight: 300;
	font-style: italic;
}
@font-face {
	src: url(nk57-monospace-se-rg-it.ttf);
	font-family: nk57_monospace_se;
	font-weight: 400;
	font-style: italic;
}
@font-face {
	src: url(nk57-monospace-se-sb-it.ttf);
	font-family: nk57_monospace_se;
	font-weight: 600;
	font-style: italic;
}
@font-face {
	src: url(nk57-monospace-se-bd-it.ttf);
	font-family: nk57_monospace_se;
	font-weight: 700;
	font-style: italic;
}
@font-face {
	src: url(nk57-monospace-se-eb-it.ttf);
	font-family: nk57_monospace_se;
	font-weight: 900;
	font-style: italic;
}
