@font-face {
	src: url(nk57-monospace-cd-lt.ttf);
	font-family: nk57_monospace_cd;
	font-weight: 200;
	font-style: normal;
}
@font-face {
	src: url(nk57-monospace-cd-bk.ttf);
	font-family: nk57_monospace_cd;
	font-weight: 300;
	font-style: normal;
}
@font-face {
	src: url(nk57-monospace-cd-rg.ttf);
	font-family: nk57_monospace_cd;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	src: url(nk57-monospace-cd-sb.ttf);
	font-family: nk57_monospace_cd;
	font-weight: 600;
	font-style: normal;
}
@font-face {
	src: url(nk57-monospace-cd-bd.ttf);
	font-family: nk57_monospace_cd;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	src: url(nk57-monospace-cd-eb.ttf);
	font-family: nk57_monospace_cd;
	font-weight: 900;
	font-style: normal;
}

@font-face {
	src: url(nk57-monospace-cd-lt-it.ttf);
	font-family: nk57_monospace_cd;
	font-weight: 200;
	font-style: italic;
}
@font-face {
	src: url(nk57-monospace-cd-bk-it.ttf);
	font-family: nk57_monospace_cd;
	font-weight: 400;
	font-style: italic;
}
@font-face {
	src: url(nk57-monospace-cd-rg-it.ttf);
	font-family: nk57_monospace_cd;
	font-weight: 500;
	font-style: italic;
}
@font-face {
	src: url(nk57-monospace-cd-sb-it.ttf);
	font-family: nk57_monospace_cd;
	font-weight: 600;
	font-style: italic;
}
@font-face {
	src: url(nk57-monospace-cd-bd-it.ttf);
	font-family: nk57_monospace_cd;
	font-weight: 700;
	font-style: italic;
}
@font-face {
	src: url(nk57-monospace-cd-eb-it.ttf);
	font-family: nk57_monospace_cd;
	font-weight: 900;
	font-style: italic;
}
